body {
    margin: 0px;
}

h1 {
   margin-top: 0px; 
}

.top-div {
    background-color: #D3E4CD;
    margin: 0px;
}

.mid-div {
    width: 200px ;
    height: 200px ;
    background-color: red;
    border: solid 20px;

}
.bot-div {
    width: 200px ;
    height: 200px ;
    background-color: blue;
    border: solid 10px;
}