/* -------------------------------------- TAG SELECTORS -------------------------------------- */

body {
    color: #40514E;
    margin: 0px;
    font-family: 'Merriweather', serif;
}

/* 16px = 100% = 1em */
h1 {
   line-height: 2;
   margin: 50px auto 0 auto; 
   font-family: 'Sacramento', cursive;
   font-size: 5.625rem;
   color: #66BFBF;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 20px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border: dotted #EAF6F6 6px; 
    border-bottom: 0;
    width: 4%;
    margin: 100px auto;
}

p {
    line-height: 2;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

/* -------------------------------------- CLASS SELECTORS  -------------------------------------- */

.top-container {
    background-color: #D3E4CD;
    margin: 0px;
    position: relative;
    text-align: center;
    padding-top: 100px;
    font-weight: normal;
}
.middle-container  {
    /* background-color: #D3E4CD; */
    margin: 100px auto;
    position: relative;
    text-align: center;
    padding-top: 100px;
}
.bottom-container {
    background-color: #66BFBF;
    margin: 0px;
    position: relative;
    text-align: center;
    padding: 50px 0 20px;
}

.intro {
    width: 30%;
    margin: auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.site-images {
    border-radius: 100%;
    width: 25%;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
/* -------------------------------------- ID SELECTORS  -------------------------------------- */
#top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

#bot-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

#my-pseudo-pic {
    float: none;
    width: 25%;
    border-radius: 100%;
}

#dp {
    width: 200px;
    height: 97px;
    float: left;
    margin-right: 30px;
}

#wd {
    float: right;
    margin-left: 30px;
}

#my-description {
    margin-top: 0;
}