<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
    </div>
    <div class="content">
        {% for blog in blogs %}
            <div class="card">
                <h2>{{ blog['title'] }}</h2>
                <p class="text">{{ blog['subtitle'] }}</p>
                <a href="{{ url_for('post', num=blog['id']) }}">Read</a>
            </div>
        {% endfor %}
    </div>
</div>
</body>
<footer>
    <p>Made with ♥️ in Nepal.</p>
</footer>
</html>