<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Shrish's Personal Site</title>
</head>

<body>
    <table cellspacing='10px'>
        <tr>
            <td>
                <img id='pseudo-pic' src="static/images/my-pseudo-pic.png" alt="my-pseudo-pic" srcset="">
            </td>
            <td>
                <h1>Shrish Adhikari</h1>
                <p>A student</p>
                <p>I am a programmer who specializes in Python.</p>
            </td>
        </tr>
    </table>
    <hr>

    <h3>
        Education:
    </h3>

    <table cellspacing="15px" id="study">
        <head>
            <th>Dates</th>
            <th>Studied At</th>
            <th>Level</th>
            <th>Field</th>
        </head>
        <body>
            <tr>
                <td>2003 - 2015</td>
                <td>Kumudini Homes Higher Seconday School</td>
                <td>School</td>
                <td>Science</td>
            </tr>
            <tr>
                <td>2015 - 2017</td>
                <td>SOS Hermann Gmeiner School Pokhara</td>
                <td>+2</td>
                <td>Science</td>
            </tr>
            <tr>
                <td>2017 - Current</td>
                <td>Pokhara Engineering College</td>
                <td>Bachelor</td>
                <td>Computer Engineering</td>
            </tr> 
        </body>
    </table>

    <hr>

    <h3>Skills</h3>
    <table cellspacing='10px'>
        <tr>
            <td>

                <table>
                    <tr>
                        <td>Python</td>
                        <td>⭐⭐⭐⭐</td>
                    </tr>
                    <tr>
                        <td>Web Development</td>
                        <td>⭐⭐⭐⭐</td>
                    </tr>
                    <tr>
                        <td>REST API</td>
                        <td>⭐⭐⭐⭐</td>
                    </tr>
                    <tr>
                        <td>Machine Learning</td>
                        <td>⭐⭐⭐</td>
                    </tr>
                    <tr>
                        <td>Deep Learning</td>
                        <td>⭐⭐⭐</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>BlockChain</td>
                        <td>⭐⭐⭐</td>
                    </tr>
                    <tr>
                        <td>Node.js</td>
                        <td>⭐⭐⭐</td>
                    </tr>
                    <tr>
                        <td>React</td>
                        <td>⭐⭐⭐</td>
                    </tr>
                    <tr>
                        <td>Docker</td>
                        <td>⭐⭐⭐</td>
                    </tr>   
                    <tr>
                        <td>Linux</td>
                        <td>⭐⭐⭐</td>
                    </tr>   
                </table>
            </td>
        </tr>
    </table>

</body>

</html>